{#
 # This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/.
 #}

<footer class="mzp-c-footer">
  <div class="mzp-l-content">
    <nav class="mzp-c-footer-primary">
      <div class="mzp-c-footer-primary-logo">
        <a href="https://www.mozilla.org">Mozilla</a>
      </div>
    </nav>
    <nav class="mzp-c-footer-secondary">
      <div class="mzp-c-footer-legal">
          <ul class="mzp-c-footer-terms">
              <li><a href="https://www.mozilla.org/privacy/websites/" data-link-type="footer" data-link-name="Privacy">Website Privacy Notice</a></li>
              <li><a href="https://www.mozilla.org/privacy/websites/#user-choices" data-link-type="footer" data-link-name="Cookies">Cookies</a></li>
              <li><a href="https://www.mozilla.org/about/legal/" data-link-type="footer" data-link-name="Legal">Legal</a></li>
              <li><a href="https://www.mozilla.org/about/governance/policies/participation/" data-link-type="footer" data-link-name="Community Participation Guidelines">Community Participation Guidelines</a></li>
          </ul>
          <p class="mzp-c-footer-license" rel="license">
              Visit <a href="https://www.mozilla.org/">Mozilla Corporation’s</a> not-for-profit parent, the <a
                  href="https://foundation.mozilla.org/?utm_source=rise25.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=footer"
                  rel="external noopener">Mozilla Foundation</a>.<br>
              Portions of this content are ©1998–2023 by individual mozilla.org contributors. Content available under
              a <a rel="license" href="https://www.mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
          </p>
      </div>
    </nav>
  </div>
</footer>
