{#
 # This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/.
 #}

<header class="r25-c-header">
  <div class="mzp-l-content mzp-t-content-nospace">
    <div class="r25-c-header-logo">
      <a href="/">
        <img class="r25-c-header-logo-image" src="/media/img/mozilla-logo-inverse.svg" alt="Mozilla" width="112" height="32">
      </a>
    </div>
  </div>
</header>
