{#
 # This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/.
 #}

{% extends "honorees-base.html" %}

{% block page_title %}Rise25 - 2024 Honorees - Meet the Builders{% endblock %}
{% block page_desc %}{% endblock %}

{% block body_class %}r25-t-teal{% endblock %}

{% block category_title %}Meet the Builders{% endblock %}
{% block category_desc %}
They’re the architects of trustworthy AI, including engineers and data
scientists dedicated to the principles of open source, open data and
open science. They focus on technical proficiency and responsible and
ethical construction. Their work ensures AI is secure, accessible and
reliable, aiming to create tools that empower and advance society.
{% endblock %}

{% block honorees_content %}
{% call person(
    id='stella-biderman',
    name='Stella Biderman',
    image='/media/img/people/stella-biderman.jpg'
  ) %}
    <p>Stella Biderman is the Executive Director of EleutherAI and a leading
      figure in the open source AI movement. Her work creating models like
      GPT-Neo, GPT-NeoX-20B, BLOOM, VQGAN-CLIP, and OpenFold paved the way for
      the current boom in open source generative AI. In addition to releasing
      models, Stella’s team builds and releases key pieces of the language
      modeling pipeline that are often kept proprietary including datasets,
      training libraries, and evaluation libraries. Her latest models, called
      Pythia, set a new bar for reproducibility and empowering low-compute
      users to do research in interpretability, learning dynamics, and more by
      releasing over 140 checkpoints saved throughout training.</p>
  {% endcall %}

  {% call person(
    id='roberto-di-cosmo',
    name='Roberto Di Cosmo',
    image='/media/img/people/roberto-di-cosmo.jpg'
  ) %}
    <p>After teaching at
      <a href="https://www.ens.psl.eu/en/academics/academic-programs" rel="noopener" target="_blank">École Normale Supérieure</a>
      in Paris, Roberto Di Cosmo became a full professor of Computer Science at
      <a href="https://u-paris.fr/en/" rel="noopener" target="_blank">University Paris Cité</a>.
      He is currently on leave at
      <a href="https://inria.fr/en" rel="noopener" target="_blank">Inria</a>,
      where he co-founded leads
      <a href="https://www.softwareheritage.org/" rel="noopener" target="_blank">Software Heritage</a>,
      the library of source code
      <a href="https://www.softwareheritage.org/mission/" rel="noopener" target="_blank">dedicated to</a>
      collecting, preserving, and sharing all publicly available software source
      code, in partnership with UNESCO.</p>

    <p>Roberto’s research spans logical systems, functional and parallel
      programming, and software engineering. A long-time advocate for Free and
      Open Source Software, he founded the
      <a href="https://systematic-paris-region.org/hubs-enjeux/hub-open-source/" rel="noopener" target="_blank">Free Software thematic group</a>
      of <a href="https://systematic-paris-region.org/?lang=en" rel="noopener" target="_blank">Systematic</a>
      in 2007, directed the European project
      <a href="http://www.mancoosi.org/" rel="noopener" target="_blank">Mancoosi</a>
      to improve package managers for large software collections, and established
      <a href="http://www.irill.org/" rel="noopener" target="_blank">Irill</a>,
      a research structure focused on Free and Open-Source Software quality.</p>

    <p>He also leads the
      <a href="https://www.ouvrirlascience.fr/software-and-source-codes-college/?menu=4" rel="noopener" target="_blank">Software college of the French committee for Open Science</a>,
      working to make software development a fully recognized academic activity.</p>
  {% endcall %}

  {% call person(
    id='aaron-gokaslan',
    name='Aaron Gokaslan',
    image='/media/img/people/aaron-gokaslan.jpg'
  ) %}
    <p>Aaron Gokaslan is a PhD student at Cornell Tech, focusing on data,
      systems, and applications for generative models under the guidance of
      Volodymyr Kuleshov. He collaborates closely with Noah Snavely, Sasha Rush,
      and James Grimmelmann. His research aims to keep generative model
      development open, accessible, and reproducible. Aaron has also published
      work on embodied AI, graphics, robotics, and 3D vision. He has worked on
      widely-used open source projects including OpenWebText, ROOTS,
      CommonCatalog, BLOOM, DBRX, TADNE, and Caduceus, which have collectively
      been downloaded by millions. His contributions have earned him a Community
      Contributor Award at PyTorchCon from the Linux Foundation for maintaining
      libraries like pybind11, habitat-sim, and Pytorch. Aaron serves on the
      advisory boards of Fidutam and EncodeJustice and also advocates for
      open-source AI as legislation begins to regulate the field.</p>
  {% endcall %}

  {% call person(
    id='raesetje-sefala',
    name='Raesetje Sefala',
    image='/media/img/people/raesetje-sefala.jpg'
  ) %}
    <p>Raesetje Sefala is an AI Research Fellow at the Distributed AI Research
      (<a href="https://www.dair-institute.org/research/" rel="noopener" target="_blank">DAIR</a>)
      institute. Her research focuses on creating ground truth datasets and
      using machine learning and other computational social science techniques
      to study the effects of spatial apartheid in South Africa, post-Apartheid.
      Her previous work involved partnering with various stakeholders and using
      machine learning techniques to study poverty and traffic safety in the
      urban parts of Nigeria and Jakarta, respectively. She is also the
      co-founder of
      <a href="https://www.acvss.ai/home" rel="noopener" target="_blank">ACVSS</a>,
      an annual computer vision summer school that aims to unite African
      students with leading experts, teaching them fundamental principles,
      ethical considerations, and cutting-edge techniques.</p>
  {% endcall %}

  {% call person(
    id='kathleen-siminyu',
    name='Kathleen Siminyu',
    image='/media/img/people/kathleen-siminyu.jpg'
  ) %}
    <p>Kathleen Siminyu is a Mozilla Common Voice fellow alum and a Natural
      Language Processing researcher at the DAIR Institute. She focuses her
      research on African languages as a form of activism and from a desire to
      see these languages better represented on digital platforms. Kathleen is
      a former Mozilla Common Voice fellow and has been involved in various
      efforts to build language datasets. Her experiences in building open
      datasets has inspired a desire to explore data governance and licensing
      models that can ensure maximum benefit is returned to the communities of
      dataset builders and subjects.<p>

    <p>Kathleen also works with African AI communities to enable ecosystem
      capacity building and research relevant to Africa. She continues to
      organize with communities as part of the
      <a href="https://deeplearningindaba.com/" rel="noopener" target="_blank">Deep Learning Indaba</a>,
      where she is a trustee and the
      <a href="https://www.masakhane.io/" rel="noopener" target="_blank">Masakhane Research Foundation</a>,
      where she is a director.</p>
  {% endcall %}

  <div class="r25-c-next r25-t-orange">
    <a href="/change-agents/">
      <h3>Meet the<br> Change Agents</h3>
    </a>
  </div>
{% endblock %}
