{#
 # This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/.
 #}

{% extends "honorees-base.html" %}

{% block page_title %}Rise25 - 2024 Honorees - Meet the Advocates{% endblock %}
{% block page_desc %}{% endblock %}

{% block body_class %}r25-t-red{% endblock %}

{% block category_title %}Meet the Advocates{% endblock %}
{% block category_desc %}
These are the policymakers, activists and thinkers ensuring AI is
developed ethically, inclusively and transparently. This category also
includes those who are adept at translating complex AI concepts for the
broader public — including journalists, content creators and cultural
commentators. They champion digital rights and accessible AI, striving
to make AI a force for societal good.
{% endblock %}

{% block honorees_content %}
{% call person(
  id='arvind-narayanan',
  name='Arvind Narayanan',
  image='/media/img/people/arvind-narayanan.jpg'
) %}
  <p>Arvind Narayanan is a professor of computer science at Princeton University
    and the director of the Center for Information Technology Policy. He is the
    coauthor of <cite>AI Snake Oil</cite>, a book that picks apart AI hype and
    presents a sober view of what AI can and can't do. He previously led the
    Princeton Web Transparency and Accountability Project to uncover how
    companies collect and use our personal information. His work was among the
    first to show how machine learning reflects cultural stereotypes. Narayanan
    is a recipient of the Presidential Early Career Award for Scientists and
    Engineers (PECASE).</p>
{% endcall %}

{% call person(
  id='deborah-raji',
  name='Deborah Raji',
  image='/media/img/people/deborah-raji.jpg'
) %}
  <p>Deborah Raji is a Mozilla fellow and CS PhD student at University of
    California, Berkeley, who is interested in questions on algorithmic auditing
    and evaluation. In the past, she worked closely with the Algorithmic Justice
    League initiative to highlight bias in deployed AI products. She has also
    worked with Googleʼs Ethical AI team and been a research fellow at the
    Partnership on AI and AI Now Institute at New York University working on
    various projects to operationalize ethical considerations in ML engineering
    practice. Recently, she was named to Forbes 30 Under 30, MIT Tech Review 35
    Under 35 Innovators and TIME100 Most Influential People in AI.</p>
{% endcall %}

{% call person(
  id='irene-solaiman',
  name='Irene Solaiman',
  image='/media/img/people/irene-solaiman.jpg'
) %}
  <p>Irene Solaiman is the Head of Global Policy at AI company Hugging Face,
    where she is conducting social impact research and leading public policy.
    She serves on the Partnership on AI’s Policy Steering Committee and the
    Center for Democracy and Technology’s AI Governance Lab Advisory Committee.
    Irene also advises responsible AI initiatives at OECD and IEEE. Irene
    formerly initiated and led bias and social impact research at OpenAI, where
    she also led public policy. She also previously built AI policy at Zillow
    Group.</p>

    <p>Irene’s research includes release strategies, value alignment, social
    impact, and combating misuse and malicious use. She was recently named one
    of MIT Tech Review’s 35 Innovators Under 35 in Artificial Intelligence in
    2023 for her research.</p>
{% endcall %}

{% call person(
  id='audrey-tang',
  name='Audrey Tang',
  image='/media/img/people/audrey-tang.jpg'
) %}
  <p>Audrey Tang, a TIME100 Most Influential People in AI honoree, was Taiwan’s
    first digital minister and the world’s first nonbinary cabinet minister.</p>

  <p>As a child, Tang practiced Taoism to moderate all strong emotions to
    survive a cardiac condition. After attending 10 educational institutions in
    10 years, she left formal schooling to pursue self-education at age 14. In
    her 20s, Tang rose to prominence as a leader in free and open-source
    software, revitalizing the Haskell and Perl programming languages.</p>

  <p>During her 30s, Tang played a crucial role in shaping g0v (gov-zero), one
    of the most prominent civic tech movements worldwide. In 2014, she helped
    broadcast the demands of Sunflower Movement activists, and worked to resolve
    conflicts during a three-week occupation of Taiwan’s Legislature. Tang
    became a reverse mentor to the minister in charge of digital participation,
    before holding the role from 2016 to 2024 during the Tsai Ing-wen
    administration.</p>

  <p>Tang helped develop participatory democracy platforms such as vTaiwan and
    Join, bringing civic innovation into the public sector through initiatives
    like the Presidential Hackathon and Ideathon.</p>

  <p>Other accomplishments for Tang include shaping Taiwan’s internationally
    acclaimed COVID-19 response, as well as safeguarding the country’s 2024
    presidential and legislative elections from cyber interference.</p>
{% endcall %}

{% call person(
  id='philip-thigo',
  name='Philip Thigo',
  image='/media/img/people/philip-thigo.jpg'
) %}
  <p>Ambassador Philip Thigo, MBS, is an award-winning technology and public
    policy expert and thought leader. He is the Special Envoy on Technology for
    the Republic of Kenya and the Executive Director for Africa at the
    Thunderbird School for Global Management. He was recognized by Apolitical as
    one of the World’s 100 Most Influential People in Digital Government in 2018
    and by Africa Com as one of Africa’s Top 100 Most Influential African Leaders
    in Technology and Telecommunications in 2023.</p>

  <p>Mr. Thigo was appointed by the United Nations Secretary-General in 2023 to
    the High-Level Advisory Board on Artificial Intelligence (HLAB). On December
    12, 2023, at Kenya’s 60th Independence Day Anniversary, he was awarded a
    Presidential Commendation — Moran of the Order of the Burning Spear (M.B.S)
    — for his distinguished service to the country.</p>
{% endcall %}

<div class="r25-c-next r25-t-green">
  <a href="/artists/">
    <h3>Meet the Artists</h3>
  </a>
</div>
{% endblock %}
