@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #79ff97;
  --color-secondary: #cec2ff;
  --color-tertiary: #ffb39a;
  --color-quaternary: #89d5ff;
  --color-light: #ffffff;
  --color-gray: #d9d9d9;
  --color-dark: #000000;
  --color-overlay: rgba(0, 0, 0, 0.65);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/**
 * Typography
 */

h1,
.type-heading-1 {
  @apply text-4xl md:text-6xl lg:text-8xl tracking-tight leading-snug font-extrabold;
}

h2,
.type-heading-2 {
  @apply font-semibold text-5xl tracking-tighter leading-tight;
}

h3,
.type-heading-3 {
  @apply font-semibold text-3xl tracking-tight leading-tight;
}

h4,
.type-heading-4 {
  @apply font-semibold text-xl tracking-tight leading-tight;
}

h5,
.type-heading-5 {
  @apply font-semibold text-lg tracking-normal;
}

p {
  @apply text-base tracking-normal;
}

.type-body-lg {
}

.type-body-sm {
  @apply text-sm;
}

.type-body-xs {
  @apply text-xs;
}

/**
 * Container
 */
.container {
  @apply ml-auto mr-auto w-full pl-4 pr-4;
}

.container--sm {
  @apply max-w-3xl;
}

.container--md {
  @apply max-w-4xl;
}

.container--lg {
  @apply max-w-5xl;
}

.container--xl {
  @apply max-w-7xl;
}

.container--2xl {
  @apply max-w-8xl;
}

/**
 * Section
 */
.section {
  @apply py-4 lg:py-8 w-full;
}

.section--lg {
  @apply py-6 lg:py-12;
}

.section--xl {
  @apply py-10 lg:py-20;
}

/**
 * Buttons
 */
.btn {
  @apply inline-flex font-medium uppercase py-3 px-4 max-w-max rounded-md cursor-pointer text-lg;
}

.btn-light {
  @apply border bg-white text-black hover:bg-primary;
}

.bg-background {
  @apply inset-0 fixed pointer-events-none;
}

.bg-background > * {
  @apply absolute h-screen w-auto;
}

.green-blurb {
  @apply right-0;
}

.purple-blurb {
  transform: translate(-10%, 10%);
}

.orange-blurb {
  transform: translate(-10%, -10%);
}

.header {
  @apply max-sm:bg-black max-sm:fixed max-sm:top-0;
}

.header a {
  @apply text-xs lg:text-lg;
}

/**
 * Winners
 */

 .winners-wrap {
  @apply mt-14 sm:mt-0 sm:fixed sm:top-0;
 }
.winners {
  @apply sm:flex sm:gap-4;
}

.winner-group {
  @apply sm:flex sm:gap-4;
}

.winner {
}

.winner-name {
  @apply z-20 absolute bottom-0 left-0 w-full bg-neutral-900 text-white p-4 type-heading-4 text-center;
}

.winner-info {
  @apply pt-6 px-6 pb-20 min-h-[400px] sm:h-auto sm:pb-16 inset-0 bg-neutral-900 bg-opacity-80 backdrop-blur relative sm:absolute z-10 space-y-8 opacity-0 hover:opacity-100 transition ease-in-out duration-300;
}

.winner-social {
  @apply inline-flex gap-2;
}

.winner-social-link {
  @apply hover:text-primary;
}

.winner-bio {
  @apply block space-y-2;
}

.winner-bio p {
  @apply type-body-sm;
}

.card {
  @apply w-full sm:aspect-[33/60] relative bg-secondary min-w-[340px] will-change-transform mb-10 sm:mb-0;
}

.group-card {
  @apply flex px-8 pt-12 pb-16;
}

.group-card-inner {
  @apply z-1 relative mt-auto mb-0 flex flex-col gap-12 lg:gap-16 items-start;
}

.group-card-title {
  @apply type-heading-3 p-4 bg-white bg-opacity-30 backdrop-blur-md drop-shadow-sm text-black flex gap-4 items-center;

  svg {
    @apply hidden sm:block
  }
}

.group-navigation {
  @apply flex justify-between mb-8;
}

.group-navigation-item {
  @apply text-sm;
}

.footer {
  @apply sm:fixed sm:bottom-0;
}

.footer a {
  @apply underline hover:text-primary;
}

/* we need to keep this for some reason, otherwise horizontal scroll doesn't work */
.gsap-marker-end,
.gsap-marker-start,
.gsap-scroller-end,
.gsap-scroller-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
  opacity: 0 !important;
}
